*, *:before, *:after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
/*body {
  text-align: center;
  font-family: courier;
  background-image: url("../assets/image.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}


.container{
	margin: auto;
	display: grid;
	grid-template-columns: auto auto;
	padding: 40px;
}

.grid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
/* 	grid-gap: 2px; */
/*width: 300px;
border: 1px green solid;
margin-top: 30px;
}

[class^="item"] {
  height: 150px;
}

.item1 {
  background: rgba(120, 120, 120, .8);
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  border-radius: 50%;
  min-height: 50px;
}

.item2 {
  background: rgba(10, 120, 120, .8);
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
  border-radius: 50%;
  min-height: 50px;
}

.item3 {
  background: rgba(10, 10, 120, .8);
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 2;
  border-radius: 50%;
  min-height: 50px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
